<div id = "estimate-form">

<%= form_tag( {:controller => 'estimate', :action => 'submit_tree_images'}, method: :put, multipart: true) do %>
<%= hidden_field_tag "estimate_id", @estimate.id %>
<%= token_tag form_authenticity_token %>
	<div id = "estimate-header" class = "green-header">
	My Estimate
</div>
	<div id = "image-upload-content">
		<div id = "image-text">
			<p>If possible, a picture tells us a thousand words!</p>
			<p>You can save 2% off your final bill if you <br />upload pictures of your trees.</p>
			<p>Submit up to three images of each tree.</p>
		</div>
		<table id = "image-table">
			<% for i in 1..@estimate.tree_quantity %>
				<tr><td><b>Tree #<%= i %></b></td></tr>
				<% for j in 1..3 %>
					<tr>
						<td><%= file_field_tag 'tree_' + i.to_s + '_image_' + j.to_s, accept: 'image/png,image/gif,image/jpeg,image/jpg', id: "tree-upload-field" %></td>
					</tr>
				<% end %>
			<% end %>

		</table>
	</div>
	<div id = "appointment-submit-buttons">
		<div id = "appointment-skip">
			<%= submit_tag "Skip", :id => 'submit-element' %>
		</div>
		<div id = "image-submit">
			<%= submit_tag "Next", :id => 'submit-element' %>
		</div>
	</div>
<% end %>
</div>