<!DOCTYPE html>
<html>
<head>
  <title>That's A Big Tree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
  
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  
	
 
</head>
<body>
  		<script>
			$('body').on('hidden.bs.modal', '.modal', function () {
				$(this).removeData('bs.modal');
			});
		</script>
			
		
			<div class = "container-fluid">
				<div class = "row green-header" id = "header-row">
					<div id = "header-container" class = "col-md-6 col-md-offset-3" >
						<div id = "header-content">
							<div id = "header-title">
								<%= image_tag "BigTreeLogoSmall.png", :id => 'header-image' %>
							</div>
							<div id = "contact-info">
								<b>Any Questions? </b><br />
								1-877-542-5551	
							</div>
						</div>
					</div>
				</div>
				
				<div class = "row", id = "nav-bar-row">

					
					<div id = "nav-bar-container" class = "col-md-6 col-md-offset-3">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<ul class="nav navbar-center">
							<li class = "menu-item"><%= link_to "Home", url_for(:controller => 'main', :action => 'home') %></li>
							<li class = "menu-item"><%= link_to "About Us", url_for(controller: 'main', action: 'about_us') %></li>
							<li class = "menu-item"><%= link_to "Free Estimate", controller: "estimate", action: "new" %></li>
							<li class = "menu-item"><%= link_to "Contact Us", controller: "main", action: "contact_us" %></li>
						</ul>
					</div>
					
				</div>
				
				<div class="row">
					<div id = "main-box">
						<%= yield %>
					</div>
				</div>
				
				<div class="row">
					<div class = ".col-md-3"></div>
					<div id = "footer-container" class = ".col-md-6">
						Certified by the Ontario Colleges of Trade<br />
						Fully Insured by State Farm
					</div>
					<div class = ".col-md-3"></div>
				</div>
			</div>
			

		<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

				</div>
			</div>
		</div>
		

</body>
</html>
