You have received a new estimate request on ThatsABigTree.ca
<br />
<br />
<h3>Estimate</h3>
<p>
<b>Request From: </b><%= @estimate.name %> <br />
<b>Address: </b><%= @estimate.address %> <br />
<b>City: </b><%= @estimate.city %> <br /> <br />

<b>Contact Method: </b><%= @estimate.contact_type %> <br />
<b>Contact At: </b><%= @estimate.contact_method %> <br /><br />

<b>See the full estimate: </b> <%= link_to "HERE", controller: 'admin', action: 'view_estimate_by_id', estimate_id: @estimate.id %>




</p>